[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
django-ckeditor = "*"
unidecode = "*"
pillow = "*"
django-modeltranslation = "*"
django-debug-toolbar = {editable = true, git = "https://github.com/jazzband/django-debug-toolbar.git"}
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.10"
